@using SmartSolutionTask.Services
@using Microsoft.AspNetCore.Identity 
@inject UserManager<ApplicationUser> _userManager
@{
    Layout = null;
    var user = await _userManager.GetUserAsync(User); 
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>Hello,index page</p>
    @if (user == null)
    {
        <a asp-controller="Account" asp-action="Login">Login</a>
        <a asp-controller="Account" asp-action="SignUp">Sign Up</a>
    } 

    @if (User.IsInRole(SystemRoles.Admin))
    {
        <a asp-controller="Account" asp-action="SignUp">Create User</a>
    }

    @if (User.IsInRole(SystemRoles.OrganizationRole)) 
    { 
        <div>
            <a asp-controller="Task" asp-action="Create">Create Task</a>
        </div>
    }

    @if (user != null)
    {
        <div class="logout_block" style="">
            <form asp-controller="Account" asp-action="Logout" method="post">
                <a style="top: 0; position: relative" href="#" onclick="$(this).parents('form').submit()">
                    <h5 class="logout_link" style="">Log Out</h5>
                </a>
            </form>
        </div>
    }

    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
</body>
</html>
